<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbicc.mybatis.test5.userMapper"> 
<select id="getUser" parameterType="ConditionUser" resultType="User">
	select * from d_user where age between #{minAge} and #{maxAge}
	<if test='name!="%null%"'>
		and name like #{name}
	</if>
</select>
	
</mapper>


